*{
    margin: 0;
    color: white;
    font-family: Google Sans,arial,sans-serif-medium,sans-serif;
}

header{
    height: 87vh;
    width: 250px;
    background-color: black;
    position: fixed;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.85) 0,#121212 100%);
    margin-bottom: 25vh;
}

footer{
    height: 13vh;
    width: 100%;
    background-color: #181818;
    border-top: 1px solid #24282a;
    float: right;
    display: flex;
    position: fixed;
    bottom: 0px;
}



/* HEADER */

.header__container{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    position: fixed;
}

.header__favoritos{
    border-top: 1px solid #24282a;
    margin-right: 25px;
}

.header__favoritos__text{
    font-size: 15px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.685);
}

.header__favoritos__text:hover{
    color: white;
    transition: .5s;
}

.header__icons{
    padding-right: 20px;
}

.header__logo_{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo__img{
    padding-top: 25px;
    height: 50px;
    width: 170px;
}

.header__menu{
    padding: 50px 0px;
}

.header__menu__options{
    color: rgba(225, 223, 220, 0.915);
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.header__menu__options:hover{
    color: white;
    transition: .5s;
}

.header__text{
    font-weight: 700;
    color: inherit;
}


/* BODY */
.body__container{
    float: right;   
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    font-family: 'Lato', sans-serif;  
    padding-bottom: 150px;
}

.body__user{
    display: flex;
    background-color: rgba(0, 0, 0, 0.801);
    justify-content: flex-end;
    padding: 20px 80px 20px 0px;
}

.body__user__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 20px;
    width: 130px;
    height: 30px;
}

.body__user__container:hover{
    background-color: #202122;
    transition: .5s;
}
.body__user__container span{
    padding-right: 10px;
}

img{
    border-radius: 10px;
    height: 180px;
    width: 180px;
}

.body__canciones{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.card{
    border-radius: 10px;
    margin: 10px;
    background-color: #171717;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    justify-content: center;
}

.card:hover{
    background-color: #222222;
    transition: .5s;

}

.card__artist{
    padding-top: 5px;
    color: #818689;
    font-size: 13px;
}

.card__name{
    padding-top: 5px;
}

.title{
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.title:hover{
    text-decoration: underline;
    transition: .5s;
}

/* FOOTER */

svg{
    color: green;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bot{
    margin-left: -100px;
}

.footer__right{
    display: flex;
    margin-right: 30px;
}

.footer__right div{
    padding: 10px;
}

.footer__left{
    padding-left: 15px;
}

.footer__left h1{
    font-size: 15px;
    font-weight: 100;
}

.footer__left h1:hover{
    text-decoration:underline;
}

.footer__left h2{
    font-size: 11px;
    font-weight: 100;
    color: rgb(172, 169, 169);
}

.footer__left h2:hover{
    text-decoration:underline;
}

.footer__top div{
    padding: 20px 10px 5px 10px;
}

.line{
    width: 400px;
    border-top:solid 4px grey;
    margin-top: 10px;
}

.footer__bot{
    display: flex;
}

.footer__bot__text{
    font-size: 12px;
    color: rgb(183, 174, 174);
    padding: 5px;
    align-items: initial;
}

#banner{
    width: 95%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
}

.body__banner{
    padding-top: 40px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.card__image__circulo{
    border-radius: 100px;
    height: 170px;
    width: 170px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#decoration:hover{
    text-decoration: none;
}